<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>revise</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/form-submit" method="POST">
        name: <input type="text" placeholder="name" name="name">
        <br>
        email: <input type="email" placeholder="email" name="email" />
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>