
*{
margin: 0;
padding: 0;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.search-input{
  width: 500px;
  padding: 5px;
}

.result-container{
width: 500px;
margin: auto;
border: 1px solid black;
padding: 5px;
text-align: left;
max-height: 500px;
overflow-y: scroll;
}
.result{
  display: block;
  padding: 5px;
}
.result:hover{
  background-color: lightgray;
  cursor: pointer;
}
.zero{
  display: none;
}