.filter{
    display: flex;

}
.search{
    padding: 5px;
    margin: 10px;
}

.search_btn{
    margin-left: 10px;
    
}

.filter-btn{
    cursor: pointer;
    padding: 1px;
    margin: 15px 0px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;

}


.res-card{
    width: 200px;

    border: 1px solid lightgray;
    padding: 5px;
    background-color:"#f0f0f0";
    margin: 5px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
  width: 100%;
}




