.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo > img{
    width: 100px;
    padding-left: 20px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding-top:40px;
    font-size: 20px;
}
.nav-items > ul > li {
    padding-left: 15px;
    padding-right: 15px;
}