
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs setup</title>
  <style>
    body{
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>
    <h1>Working with ejs</h1>
    <h1>this is <%= name %></h1>
    <ul>
      <li>Phone name is <%= product[0].title %> and price is <%=product[0].price %></li>
    </ul>
</body>
</html>