* {
  padding: 0;
  margin: 0;
}
.heading-container {
  display: flex;
}

.heading {
  padding: 5px;
  border: 1px solid black;
  margin: 2px;
  cursor: pointer;
}

.tab-body {
  display: flex;
  border: 1px solid black;
  height: 50vh;
  padding: 5px;
  margin: 3px;
}

.error{
  color: red;
  display: block;
  font-size: small;
}